.card {
  border: 0!important;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color: white;
}

.img, .img-fluid {
  border-radius: 10px!important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

h1 {
  font-weight: 900;
}

.navbar {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

h1 {
  word-break: break-word!important;
  overflow-wrap: break-word!important;
}

